# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/misc.xml
/amper.xml
/modules.xml
/StateMachine.iml
/vcs.xml
/inspectionProfiles/Project_Default.xml
